/** @format */

body {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background-color: cornflowerblue;
}

#main-play-area {
	background-color: black;
	background-image: url(img/space.png);
	height: 550px;
	width: 700px;
}

.game-instructions {
	position: relative;
	color: white;

	top: 0px;
	right: -3rem;
}

.start-button {
	position: relative;
	color: white;
	top: 9rem;
	left: 20rem;
	cursor: pointer;
}

.player-shooter {
	position: relative;
	height: 60px;
	width: 70px;
	left: 20px;
	top: 250px;
}

.laser {
	position: relative;
	width: 40px;
	height: 30px;
}

.alien {
	height: 60px;
	width: 70px;
	position: relative;
}

.alien-transition {
	opacity: 1;
	transition: opacity 1.5s ease-in-out;
}

.dead-alien {
	height: 60px;
	width: 70px;
	position: relative;
	opacity: 0;
}

#fim {
	width: 350px;
	height: 200px;
	background-color: #eeee;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	text-align: center;
	padding: 10px;
	color: green;
}

h4 a {
	font-family: Titulo;
	font-size: 14px;
	color: green;
	text-decoration: none;
}

button {
	color: #eee;
	background: orange;
	border-radius: 9px;
}

button:hover {
	background: green;
}
